#textdomain wesnoth-Battle_for_Wesnoth_AP

[campaign]
    id=Battle_for_Wesnoth_AP
    name= _ "Battle for Wesnoth AP Prototype"
    abbrev= _ "Wesnoth AP"
    define=CAMPAIGN_BATTLE_FOR_WESNOTH_AP
    first_scenario=01_AP_Training
    icon="units/human-loyalists/lieutenant.png"
    description= _ "A prototype campaign shell for Battle for Wesnoth Archipelago development."
[/campaign]

[campaign]
    id=Two_Brothers_AP
    name= _ "A Tale of Two Brothers AP"
    abbrev= _ "AToTB AP"
    define=CAMPAIGN_TWO_BROTHERS_AP
    first_scenario=01_Rooting_Out_a_Mage
    icon="units/human-loyalists/horseman/horseman.png~RC(magenta>red)"
    description= _ "A Tale of Two Brothers with Archipelago recruit, weapon, scenario, and chest checks."

    {CAMPAIGN_DIFFICULTY EASY "units/human-loyalists/horseman/horseman.png~RC(magenta>red)" ( _ "Horseman") ( _ "Beginner")} {DEFAULT_DIFFICULTY}
    {CAMPAIGN_DIFFICULTY HARD "units/human-loyalists/grand-knight/grand-knight.png~RC(magenta>red)" ( _ "Grand Knight") ( _ "Challenging")}
[/campaign]

#ifdef CAMPAIGN_BATTLE_FOR_WESNOTH_AP
{~add-ons/Battle_for_Wesnoth_AP/macros}
{~add-ons/Battle_for_Wesnoth_AP/scenarios}
#endif

#ifdef CAMPAIGN_TWO_BROTHERS_AP
[binary_path]
    path=data/add-ons/Battle_for_Wesnoth_AP
[/binary_path]
[binary_path]
    path=data/campaigns/Two_Brothers
[/binary_path]
{~add-ons/Battle_for_Wesnoth_AP/macros}
{~add-ons/Battle_for_Wesnoth_AP/utils}
{~add-ons/Battle_for_Wesnoth_AP/scenarios}
#endif
