#textdomain wesnoth-Battle_for_Wesnoth_AP

[campaign]
    id=Battle_for_Wesnoth_AP
    name= _ "Battle for Wesnoth AP Prototype"
    abbrev= _ "Wesnoth AP"
    define=CAMPAIGN_BATTLE_FOR_WESNOTH_AP
    first_scenario=01_AP_Training
    icon="units/human-loyalists/lieutenant.png"
    description= _ "A prototype campaign shell for Battle for Wesnoth Archipelago development."
[/campaign]

#ifdef CAMPAIGN_BATTLE_FOR_WESNOTH_AP
{~add-ons/Battle_for_Wesnoth_AP/macros}
{~add-ons/Battle_for_Wesnoth_AP/scenarios}
#endif
