#textdomain wesnoth-Battle_for_Wesnoth_AP

#define AP_LOAD_BRIDGE
    [lua]
        code = <<
            local bridge = wesnoth.dofile("~add-ons/Battle_for_Wesnoth_AP/lua/ap_bridge.lua")
            bridge.load()
        >>
    [/lua]
#enddef

#define AP_SAVE_BRIDGE
    [lua]
        code = <<
            local bridge = wesnoth.dofile("~add-ons/Battle_for_Wesnoth_AP/lua/ap_bridge.lua")
            bridge.save()
        >>
    [/lua]
#enddef

#define AP_MARK_LOCATION LOCATION_NAME
    [lua]
        code = <<
            local bridge = wesnoth.dofile("~add-ons/Battle_for_Wesnoth_AP/lua/ap_bridge.lua")
            local args = ...
            bridge.mark_location(args.name)
        >>
        [args]
            name={LOCATION_NAME}
        [/args]
    [/lua]
    [message]
        speaker=narrator
        message= _ "Archipelago check recorded."
    [/message]
#enddef

#define AP_HAS_ITEM ITEM_NAME VARIABLE_NAME
    [set_variable]
        name={VARIABLE_NAME}
        value=no
    [/set_variable]
    [foreach]
        array=ap_received_items
        variable=ap_item
        [do]
            [if]
                [variable]
                    name=ap_item.name
                    equals={ITEM_NAME}
                [/variable]
                [then]
                    [set_variable]
                        name={VARIABLE_NAME}
                        value=yes
                    [/set_variable]
                [/then]
            [/if]
        [/do]
    [/foreach]
#enddef

#define AP_APPLY_ITEMS
    {AP_LOAD_BRIDGE}

    {AP_HAS_ITEM "Recruit: Bowman" ap_has_bowman}
    [if]
        [variable]
            name=ap_has_bowman
            equals=yes
        [/variable]
        [then]
            [allow_recruit]
                side=1
                type=Bowman
            [/allow_recruit]
        [/then]
    [/if]

    {AP_HAS_ITEM "Recruit: Mage" ap_has_mage}
    [if]
        [variable]
            name=ap_has_mage
            equals=yes
        [/variable]
        [then]
            [allow_recruit]
                side=1
                type=Mage
            [/allow_recruit]
        [/then]
    [/if]

    {AP_HAS_ITEM "Extra Gold" ap_has_extra_gold}
    [if]
        [variable]
            name=ap_has_extra_gold
            equals=yes
        [/variable]
        [and]
            [variable]
                name=ap_extra_gold_applied
                not_equals=yes
            [/variable]
        [/and]
        [then]
            [gold]
                side=1
                amount=50
            [/gold]
            {VARIABLE ap_extra_gold_applied yes}
        [/then]
    [/if]
#enddef
