#textdomain wesnoth-Battle_for_Wesnoth_AP

#define AP_MARK_LOCATION LOCATION_NAME
    [set_variables]
        name=ap_checked_locations
        mode=append
        [value]
            name={LOCATION_NAME}
        [/value]
    [/set_variables]
    [message]
        speaker=narrator
        message= _ "Archipelago check recorded."
    [/message]
#enddef

#define AP_HAS_ITEM ITEM_NAME VARIABLE_NAME
    [set_variable]
        name={VARIABLE_NAME}
        value=no
    [/set_variable]
    [foreach]
        array=ap_received_items
        variable=ap_item
        [do]
            [if]
                [variable]
                    name=ap_item.name
                    equals={ITEM_NAME}
                [/variable]
                [then]
                    [set_variable]
                        name={VARIABLE_NAME}
                        value=yes
                    [/set_variable]
                [/then]
            [/if]
        [/do]
    [/foreach]
#enddef
