#textdomain wesnoth-Battle_for_Wesnoth_AP

#define AP_LOAD_BRIDGE
    [lua]
        code = <<
            local bridge = wesnoth.dofile("~add-ons/Battle_for_Wesnoth_AP/lua/ap_bridge.lua")
            bridge.load()
        >>
    [/lua]
#enddef

#define AP_LOAD_BRIDGE_NOTIFY
    [lua]
        code = <<
            local bridge = wesnoth.dofile("~add-ons/Battle_for_Wesnoth_AP/lua/ap_bridge.lua")
            bridge.load(true)
        >>
    [/lua]
#enddef

#define AP_SAVE_BRIDGE
    [lua]
        code = <<
            local bridge = wesnoth.dofile("~add-ons/Battle_for_Wesnoth_AP/lua/ap_bridge.lua")
            bridge.save()
        >>
    [/lua]
#enddef

#define AP_MARK_LOCATION LOCATION_NAME
    [lua]
        code = <<
            local bridge = wesnoth.dofile("~add-ons/Battle_for_Wesnoth_AP/lua/ap_bridge.lua")
            local args = ...
            bridge.mark_location(args.name)
        >>
        [args]
            name={LOCATION_NAME}
        [/args]
    [/lua]
    [message]
        speaker=narrator
        message= _ "Archipelago check recorded."
    [/message]
#enddef

#define AP_HAS_ITEM ITEM_NAME VARIABLE_NAME
    [set_variable]
        name={VARIABLE_NAME}
        value=no
    [/set_variable]
    [foreach]
        array=ap_received_items
        variable=ap_item
        [do]
            [if]
                [variable]
                    name=ap_item.name
                    equals={ITEM_NAME}
                [/variable]
                [then]
                    [set_variable]
                        name={VARIABLE_NAME}
                        value=yes
                    [/set_variable]
                [/then]
            [/if]
        [/do]
    [/foreach]
#enddef

#define AP_ALLOW_RECRUIT_ITEM ITEM_NAME SIDE UNIT_TYPE
    {AP_HAS_ITEM {ITEM_NAME} ap_has_item}
    [if]
        [variable]
            name=ap_has_item
            equals=yes
        [/variable]
        [then]
            [allow_recruit]
                side={SIDE}
                type={UNIT_TYPE}
            [/allow_recruit]
        [/then]
    [/if]
#enddef

#define AP_GRANT_GOLD_ONCE ITEM_NAME SIDE AMOUNT STATE_VARIABLE
    {AP_HAS_ITEM {ITEM_NAME} ap_has_item}
    [if]
        [variable]
            name=ap_has_item
            equals=yes
        [/variable]
        [and]
            [variable]
                name={STATE_VARIABLE}
                not_equals=yes
            [/variable]
        [/and]
        [then]
            [gold]
                side={SIDE}
                amount={AMOUNT}
            [/gold]
            {VARIABLE {STATE_VARIABLE} yes}
        [/then]
    [/if]
#enddef

#define AP_REMOVE_ATTACK_UNLESS_ITEM ITEM_NAME SIDE UNIT_TYPE ATTACK_NAME
    {AP_HAS_ITEM {ITEM_NAME} ap_has_item}
    [if]
        [variable]
            name=ap_has_item
            not_equals=yes
        [/variable]
        [then]
            [modify_unit]
                [filter]
                    side={SIDE}
                    type={UNIT_TYPE}
                [/filter]
                [effect]
                    apply_to=remove_attacks
                    name={ATTACK_NAME}
                [/effect]
            [/modify_unit]
        [/then]
    [/if]
#enddef

#define AP_PLACE_CHEST_CHECK LOCATION_NAME X Y STATE_VARIABLE
    {PLACE_IMAGE items/chest-plain-closed.png {X} {Y}}
    {VARIABLE {STATE_VARIABLE} no}
#enddef

#define AP_CHEST_CHECK_EVENT LOCATION_NAME X Y STATE_VARIABLE
    [event]
        name=moveto
        first_time_only=yes
        [filter]
            side=1
            x={X}
            y={Y}
        [/filter]
        [remove_item]
            x={X}
            y={Y}
            image=items/chest-plain-closed.png
        [/remove_item]
        {PLACE_IMAGE items/chest-plain-open.png {X} {Y}}
        {VARIABLE {STATE_VARIABLE} yes}
        {AP_MARK_LOCATION {LOCATION_NAME}}
    [/event]
#enddef

#define AP_COMPLETE_GOAL
    {AP_LOAD_BRIDGE}
    {VARIABLE ap_goal_complete yes}
    {AP_SAVE_BRIDGE}
#enddef
