#textdomain wesnoth-Battle_for_Wesnoth_AP

#define AP_APPLY_TWO_BROTHERS_ITEMS
    {AP_SET_UNLOCKED_RECRUITS 1}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Bowman - short sword (melee blade)" 1 "Bowman" "short sword" "short sword" blade melee 5 2 "attacks/sword-human-short.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Bowman - bow (ranged pierce)" 1 "Bowman" "bow" "bow" pierce ranged 6 3 ""}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Cavalryman - sword (melee blade)" 1 "Cavalryman" "sword" "sword" blade melee 6 3 "attacks/sword-human.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Dark Adept - chill wave (ranged cold)" 1 "Dark Adept" "chill wave" "chill wave" cold ranged 10 2 "attacks/iceball.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Dark Adept - shadow wave (ranged arcane)" 1 "Dark Adept" "shadow wave" "shadow wave" arcane ranged 7 2 "attacks/dark-missile.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Drake Burner - claws (melee blade)" 1 "Drake Burner" "claws" "claws" blade melee 7 2 "attacks/claws-drake.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Drake Burner - fire breath (ranged fire)" 1 "Drake Burner" "fire breath" "fire breath" fire ranged 6 4 "attacks/fire-breath-drake.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Drake Clasher - war talon (melee blade)" 1 "Drake Clasher" "war talon" "war talon" blade melee 5 4 "attacks/scimitar.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Drake Clasher - spear (melee pierce)" 1 "Drake Clasher" "spear" "spear" pierce melee 6 4 "attacks/spear.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Drake Fighter - war blade (melee blade)" 1 "Drake Fighter" "war blade" "war blade" blade melee 7 3 "attacks/warblade.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Drake Fighter - fire breath (ranged fire)" 1 "Drake Fighter" "fire breath" "fire breath" fire ranged 3 3 "attacks/fire-breath-drake.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Drake Glider - slam (melee impact)" 1 "Drake Glider" "slam" "slam" impact melee 6 2 "attacks/slam-drake.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Drake Glider - fire breath (ranged fire)" 1 "Drake Glider" "fire breath" "fire breath" fire ranged 3 3 "attacks/fire-breath-drake.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Dwarvish Fighter - axe (melee blade)" 1 "Dwarvish Fighter" "axe" "axe" blade melee 7 3 ""}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Dwarvish Fighter - hammer (melee impact)" 1 "Dwarvish Fighter" "hammer" "hammer" impact melee 8 2 "attacks/hammer-dwarven.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Dwarvish Guardsman - spear (melee pierce)" 1 "Dwarvish Guardsman" "spear" "spear" pierce melee 5 3 "attacks/spear.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Dwarvish Guardsman - javelin (ranged pierce)" 1 "Dwarvish Guardsman" "javelin" "javelin" pierce ranged 6 1 "attacks/javelin-human.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Dwarvish Scout - axe (melee blade)" 1 "Dwarvish Scout" "axe" "axe" blade melee 6 3 ""}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Dwarvish Scout - axe (ranged blade)" 1 "Dwarvish Scout" "axe" "axe" blade ranged 8 2 ""}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Dwarvish Thunderer - dagger (melee blade)" 1 "Dwarvish Thunderer" "dagger" "dagger" blade melee 6 2 "attacks/dagger-human.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Dwarvish Thunderer - thunderstick (ranged pierce)" 1 "Dwarvish Thunderer" "thunderstick" "thunderstick" pierce ranged 18 1 ""}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Elvish Archer - sword (melee blade)" 1 "Elvish Archer" "sword" "sword" blade melee 5 2 "attacks/sword-elven.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Elvish Archer - bow (ranged pierce)" 1 "Elvish Archer" "bow" "bow" pierce ranged 5 4 "attacks/bow-elven.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Elvish Fighter - sword (melee blade)" 1 "Elvish Fighter" "sword" "sword" blade melee 5 4 "attacks/sword-elven.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Elvish Fighter - bow (ranged pierce)" 1 "Elvish Fighter" "bow" "bow" pierce ranged 3 3 "attacks/bow-elven.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Elvish Scout - sword (melee blade)" 1 "Elvish Scout" "sword" "sword" blade melee 4 3 "attacks/sword-elven.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Elvish Scout - bow (ranged pierce)" 1 "Elvish Scout" "bow" "bow" pierce ranged 6 2 "attacks/bow-elven.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Elvish Shaman - staff (melee impact)" 1 "Elvish Shaman" "staff" "staff" impact melee 3 2 "attacks/druidstaff.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Elvish Shaman - entangle (ranged impact)" 1 "Elvish Shaman" "entangle" "entangle" impact ranged 4 2 ""}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Fencer - saber (melee blade)" 1 "Fencer" "saber" "saber" blade melee 4 4 "attacks/saber-human.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Footpad - club (melee impact)" 1 "Footpad" "club" "club" impact melee 4 2 "attacks/club-small.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Footpad - sling (ranged impact)" 1 "Footpad" "sling" "sling" impact ranged 5 2 ""}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Ghoul - claws (melee blade)" 1 "Ghoul" "claws" "claws" blade melee 4 3 "attacks/claws-undead.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Heavy Infantryman - mace (melee impact)" 1 "Heavy Infantryman" "mace" "mace" impact melee 11 2 "attacks/mace-spiked.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Horseman - spear (melee pierce)" 1 "Horseman" "spear" "spear" pierce melee 9 2 ""}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Mage - staff (melee impact)" 1 "Mage" "staff" "staff" impact melee 5 1 "attacks/staff-magic.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Mage - missile (ranged fire)" 1 "Mage" "missile" "missile" fire ranged 7 3 "attacks/magic-missile.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Merman Fighter - trident (melee pierce)" 1 "Merman Fighter" "trident" "trident" pierce melee 6 3 ""}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Merman Hunter - spear (melee pierce)" 1 "Merman Hunter" "spear" "spear" pierce melee 4 2 ""}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Merman Hunter - spear (ranged pierce)" 1 "Merman Hunter" "spear" "spear" pierce ranged 5 3 ""}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Naga Fighter - sword (melee blade)" 1 "Naga Fighter" "sword" "sword" blade melee 4 4 "attacks/sword-orcish.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Orcish Archer - dagger (melee blade)" 1 "Orcish Archer" "dagger" "dagger" blade melee 3 2 "attacks/dagger-orcish.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Orcish Archer - bow (ranged pierce)" 1 "Orcish Archer" "bow" "bow" pierce ranged 6 3 "attacks/bow-orcish.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Orcish Archer - bow (ranged fire)" 1 "Orcish Archer" "bow" "bow" fire ranged 7 2 "attacks/bow-orcish.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Orcish Assassin - dagger (melee blade)" 1 "Orcish Assassin" "dagger" "dagger" blade melee 7 1 "attacks/dagger-orcish.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Orcish Assassin - throwing knives (ranged blade)" 1 "Orcish Assassin" "throwing knives" "throwing knives" blade ranged 3 3 "attacks/dagger-thrown-poison-orcish.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Orcish Grunt - sword (melee blade)" 1 "Orcish Grunt" "sword" "sword" blade melee 9 2 "attacks/sword-orcish.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Poacher - dagger (melee blade)" 1 "Poacher" "dagger" "dagger" blade melee 3 2 "attacks/dagger-human.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Poacher - bow (ranged pierce)" 1 "Poacher" "bow" "bow" pierce ranged 4 4 ""}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Saurian Augur - staff (melee impact)" 1 "Saurian Augur" "staff" "staff" impact melee 4 2 "attacks/staff-magic.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Saurian Augur - curse (ranged cold)" 1 "Saurian Augur" "curse" "curse" cold ranged 5 3 "attacks/curse.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Saurian Skirmisher - spear (melee pierce)" 1 "Saurian Skirmisher" "spear" "spear" pierce melee 4 4 "attacks/spear.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Saurian Skirmisher - spear (ranged pierce)" 1 "Saurian Skirmisher" "spear" "spear" pierce ranged 4 2 "attacks/spear-thrown.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Skeleton - axe (melee blade)" 1 "Skeleton" "axe" "axe" blade melee 7 3 "attacks/axe-undead.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Skeleton Archer - fist (melee impact)" 1 "Skeleton Archer" "fist" "fist" impact melee 3 2 "attacks/fist-skeletal.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Skeleton Archer - bow (ranged pierce)" 1 "Skeleton Archer" "bow" "bow" pierce ranged 6 3 "attacks/bow-orcish.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Spearman - spear (melee pierce)" 1 "Spearman" "spear" "spear" pierce melee 7 3 "attacks/spear.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Spearman - javelin (ranged pierce)" 1 "Spearman" "javelin" "javelin" pierce ranged 6 1 "attacks/javelin-human.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Thief - dagger (melee blade)" 1 "Thief" "dagger" "dagger" blade melee 4 3 "attacks/dagger-human.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Thug - club (melee impact)" 1 "Thug" "club" "club" impact melee 5 4 ""}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Troll Whelp - fist (melee impact)" 1 "Troll Whelp" "fist" "fist" impact melee 7 2 "attacks/fist-troll.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Wolf Rider - fangs (melee blade)" 1 "Wolf Rider" "fangs" "fangs" blade melee 5 3 "attacks/fangs-animal.png"}
    {AP_RESTORE_ATTACK_IF_UNLOCKED "Attack: Wose - crush (melee impact)" 1 "Wose" "crush" "crush" impact melee 13 2 "attacks/crush-wose.png"}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Bowman - short sword (melee blade)" 1 "Bowman" "short sword" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Bowman - bow (ranged pierce)" 1 "Bowman" "bow" ranged}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Cavalryman - sword (melee blade)" 1 "Cavalryman" "sword" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Dark Adept - chill wave (ranged cold)" 1 "Dark Adept" "chill wave" ranged}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Dark Adept - shadow wave (ranged arcane)" 1 "Dark Adept" "shadow wave" ranged}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Drake Burner - claws (melee blade)" 1 "Drake Burner" "claws" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Drake Burner - fire breath (ranged fire)" 1 "Drake Burner" "fire breath" ranged}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Drake Clasher - war talon (melee blade)" 1 "Drake Clasher" "war talon" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Drake Clasher - spear (melee pierce)" 1 "Drake Clasher" "spear" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Drake Fighter - war blade (melee blade)" 1 "Drake Fighter" "war blade" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Drake Fighter - fire breath (ranged fire)" 1 "Drake Fighter" "fire breath" ranged}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Drake Glider - slam (melee impact)" 1 "Drake Glider" "slam" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Drake Glider - fire breath (ranged fire)" 1 "Drake Glider" "fire breath" ranged}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Dwarvish Fighter - axe (melee blade)" 1 "Dwarvish Fighter" "axe" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Dwarvish Fighter - hammer (melee impact)" 1 "Dwarvish Fighter" "hammer" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Dwarvish Guardsman - spear (melee pierce)" 1 "Dwarvish Guardsman" "spear" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Dwarvish Guardsman - javelin (ranged pierce)" 1 "Dwarvish Guardsman" "javelin" ranged}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Dwarvish Scout - axe (melee blade)" 1 "Dwarvish Scout" "axe" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Dwarvish Scout - axe (ranged blade)" 1 "Dwarvish Scout" "axe" ranged}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Dwarvish Thunderer - dagger (melee blade)" 1 "Dwarvish Thunderer" "dagger" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Dwarvish Thunderer - thunderstick (ranged pierce)" 1 "Dwarvish Thunderer" "thunderstick" ranged}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Elvish Archer - sword (melee blade)" 1 "Elvish Archer" "sword" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Elvish Archer - bow (ranged pierce)" 1 "Elvish Archer" "bow" ranged}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Elvish Fighter - sword (melee blade)" 1 "Elvish Fighter" "sword" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Elvish Fighter - bow (ranged pierce)" 1 "Elvish Fighter" "bow" ranged}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Elvish Scout - sword (melee blade)" 1 "Elvish Scout" "sword" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Elvish Scout - bow (ranged pierce)" 1 "Elvish Scout" "bow" ranged}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Elvish Shaman - staff (melee impact)" 1 "Elvish Shaman" "staff" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Elvish Shaman - entangle (ranged impact)" 1 "Elvish Shaman" "entangle" ranged}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Fencer - saber (melee blade)" 1 "Fencer" "saber" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Footpad - club (melee impact)" 1 "Footpad" "club" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Footpad - sling (ranged impact)" 1 "Footpad" "sling" ranged}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Ghoul - claws (melee blade)" 1 "Ghoul" "claws" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Heavy Infantryman - mace (melee impact)" 1 "Heavy Infantryman" "mace" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Horseman - spear (melee pierce)" 1 "Horseman" "spear" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Mage - staff (melee impact)" 1 "Mage" "staff" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Mage - missile (ranged fire)" 1 "Mage" "missile" ranged}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Merman Fighter - trident (melee pierce)" 1 "Merman Fighter" "trident" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Merman Hunter - spear (melee pierce)" 1 "Merman Hunter" "spear" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Merman Hunter - spear (ranged pierce)" 1 "Merman Hunter" "spear" ranged}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Naga Fighter - sword (melee blade)" 1 "Naga Fighter" "sword" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Orcish Archer - dagger (melee blade)" 1 "Orcish Archer" "dagger" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Orcish Archer - bow (ranged pierce)" 1 "Orcish Archer" "bow" ranged}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Orcish Archer - bow (ranged fire)" 1 "Orcish Archer" "bow" ranged}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Orcish Assassin - dagger (melee blade)" 1 "Orcish Assassin" "dagger" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Orcish Assassin - throwing knives (ranged blade)" 1 "Orcish Assassin" "throwing knives" ranged}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Orcish Grunt - sword (melee blade)" 1 "Orcish Grunt" "sword" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Poacher - dagger (melee blade)" 1 "Poacher" "dagger" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Poacher - bow (ranged pierce)" 1 "Poacher" "bow" ranged}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Saurian Augur - staff (melee impact)" 1 "Saurian Augur" "staff" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Saurian Augur - curse (ranged cold)" 1 "Saurian Augur" "curse" ranged}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Saurian Skirmisher - spear (melee pierce)" 1 "Saurian Skirmisher" "spear" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Saurian Skirmisher - spear (ranged pierce)" 1 "Saurian Skirmisher" "spear" ranged}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Skeleton - axe (melee blade)" 1 "Skeleton" "axe" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Skeleton Archer - fist (melee impact)" 1 "Skeleton Archer" "fist" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Skeleton Archer - bow (ranged pierce)" 1 "Skeleton Archer" "bow" ranged}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Spearman - spear (melee pierce)" 1 "Spearman" "spear" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Spearman - javelin (ranged pierce)" 1 "Spearman" "javelin" ranged}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Thief - dagger (melee blade)" 1 "Thief" "dagger" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Thug - club (melee impact)" 1 "Thug" "club" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Troll Whelp - fist (melee impact)" 1 "Troll Whelp" "fist" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Wolf Rider - fangs (melee blade)" 1 "Wolf Rider" "fangs" melee}
    {AP_REMOVE_ATTACK_UNLESS_UNLOCKED "Attack: Wose - crush (melee impact)" 1 "Wose" "crush" melee}
#enddef

#define AP_TWO_BROTHERS_SCENARIO_SETUP SCENARIO_ID
    [event]
        name=prestart
        {AP_LOAD_BRIDGE}
        {AP_APPLY_TWO_BROTHERS_ITEMS}
        {AP_PLACE_DYNAMIC_CHESTS {SCENARIO_ID}}
        {AP_SAVE_BRIDGE}
    [/event]

    [event]
        name=start
        {AP_LOAD_BRIDGE_NOTIFY}
        {AP_APPLY_TWO_BROTHERS_ITEMS}
        {AP_PLACE_DYNAMIC_CHESTS {SCENARIO_ID}}
        {AP_SAVE_BRIDGE}
    [/event]

    [event]
        name=side 1 turn refresh
        first_time_only=no
        {AP_LOAD_BRIDGE_NOTIFY}
        {AP_APPLY_TWO_BROTHERS_ITEMS}
        {AP_PLACE_DYNAMIC_CHESTS {SCENARIO_ID}}
        {AP_SAVE_BRIDGE}
    [/event]

    [event]
        name=recruit
        first_time_only=no
        {AP_LOAD_BRIDGE}
        {AP_APPLY_TWO_BROTHERS_ITEMS}
        {AP_SAVE_BRIDGE}
    [/event]

    {AP_DYNAMIC_CHEST_EVENT {SCENARIO_ID}}
#enddef

#define AP_TWO_BROTHERS_VICTORY_CHECK LOCATION_NAME
    [event]
        name=victory
        {AP_MARK_LOCATION {LOCATION_NAME}}
    [/event]
#enddef

#define AP_TWO_BROTHERS_FINAL_GOAL
    [event]
        name=victory
        {AP_COMPLETE_GOAL}
    [/event]
#enddef
