#textdomain wesnoth-Battle_for_Wesnoth_AP

#define AP_APPLY_TRAINING_ITEMS
    {AP_LOAD_BRIDGE_NOTIFY}

    {AP_ALLOW_RECRUIT_ITEM "Recruit: Bowman" 1 Bowman}
    {AP_ALLOW_RECRUIT_ITEM "Recruit: Mage" 1 Mage}
    {AP_GRANT_GOLD_ONCE "Extra Gold" 1 50 ap_extra_gold_applied}

    {AP_HAS_ITEM "Attack: Javelin" ap_has_javelin}
    [if]
        [variable]
            name=ap_has_javelin
            equals=yes
        [/variable]
        [and]
            [variable]
                name=ap_javelin_unlock_applied
                not_equals=yes
            [/variable]
        [/and]
        [then]
            [modify_unit]
                [filter]
                    side=1
                    type=Spearman
                [/filter]
                [effect]
                    apply_to=new_attack
                    name=javelin
                    description=_"javelin"
                    icon=attacks/javelin-human.png
                    type=pierce
                    range=ranged
                    damage=6
                    number=1
                [/effect]
            [/modify_unit]
            {VARIABLE ap_javelin_unlock_applied yes}
        [/then]
    [/if]
#enddef

#define AP_LOCK_TRAINING_SPEARMAN_JAVELIN
    {AP_REMOVE_ATTACK_UNLESS_ITEM "Attack: Javelin" 1 Spearman javelin}
#enddef
