#textdomain wesnoth-Battle_for_Wesnoth_AP

[scenario]
    id=01_AP_Training
    name= _ "AP Training Ground"
    map_data="{~add-ons/Battle_for_Wesnoth_AP/maps/training.map}"
    turns=18
    victory_when_enemies_defeated=yes

    [side]
        side=1
        controller=human
        team_name=wesnoth
        user_team_name= _ "Wesnoth"
        type=Lieutenant
        id=Konrad
        name= _ "Konrad"
        canrecruit=yes
        recruit=Spearman
        gold=100
    [/side]

    [side]
        side=2
        controller=ai
        team_name=raiders
        user_team_name= _ "Raiders"
        type=Orcish Grunt
        id=RaidLeader
        canrecruit=yes
        recruit=Orcish Grunt
        gold=40
    [/side]

    [event]
        name=prestart
        {VARIABLE ap_goal_complete no}
        {VARIABLE ap_extra_gold_applied no}
        {AP_LOAD_BRIDGE}
        {AP_SAVE_BRIDGE}
    [/event]

    [event]
        name=start
        {AP_APPLY_ITEMS}
        [objectives]
            side=1
            [objective]
                description= _ "Defeat the enemy leader"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Konrad"
                condition=lose
            [/objective]
        [/objectives]
    [/event]

    [event]
        name=side 1 turn
        first_time_only=no
        {AP_APPLY_ITEMS}
    [/event]

    [event]
        name=capture
        first_time_only=yes
        [filter]
            side=1
        [/filter]
        {AP_MARK_LOCATION "Tutorial: First Village"}
    [/event]

    [event]
        name=post_advance
        first_time_only=yes
        [filter]
            side=1
        [/filter]
        {AP_MARK_LOCATION "Tutorial: First Level Up"}
    [/event]

    [event]
        name=die
        [filter]
            id=RaidLeader
        [/filter]
        {AP_MARK_LOCATION "Tutorial: Enemy Leader Defeated"}
        {VARIABLE ap_goal_complete yes}
        {AP_SAVE_BRIDGE}
    [/event]
[/scenario]
